@model MyInstitution.MVC.Models.EventModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="row">
    <div class="col-12">
        <a asp-action="Edit" asp-route-id="@Model.Event.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<div class="row">

        <div class="col-lg-3 col-md-12">
            <img src="/img/events/@Model.Event.Image" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Summary" class="control-label"></label>
                <textarea asp-for="@Model.Event.Summary" class="form-control" readonly text-wrap:normal" type="text" placeholder="..."></textarea>
            </div>
        </div>


        <div class="form-group col-md-4">
            <label asp-for="@Model.Event.DateBegin" class="control-label"></label>
            <input asp-for="@Model.Event.DateBegin" class="form-control" readonly />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Event.DateEnd" class="control-label"></label>
            <input asp-for="@Model.Event.DateEnd" class="form-control" readonly />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Event.Duration" class="control-label"></label>
            <input asp-for="@Model.Event.Duration" class="form-control" readonly />
        </div>


        <div class="form-group col-12">
            <label asp-for="@Model.Event.Text" class="control-label"></label>
            <textarea asp-for="@Model.Event.Text" class="form-control" readonly text-wrap:normal" type="text" placeholder="..."></textarea>

        </div>


</div>

<hr />

<h3>Kommentare</h3>

<div class="row">

    @foreach (var eventDetail in Model.EventDetails.OrderByDescending(e => e.DateCreate))
    {
        <div class="col-12">
            <div class="card h-100">
                <div class="card-header">
                    @eventDetail.EventDetailId | @eventDetail.Title | @eventDetail.ApplicationUser.UserName
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @*Image*@
                        <img src="/img/event-details/@eventDetail.Image" class="card-img-top" alt="Responsive image">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@eventDetail.Title</h5>
                            <p class="card-text">@eventDetail.Text</p>
                        </div>
                    </div>
                </div>
                @*<img src="/img/event-details/@eventDetail.Image" class="card-img-top" alt="Responsive image">*@

                @*<div class="card-img-top" style="background-image: url('@eventDetail.Image');"></div>*@
                @*<img src="@eventDetail.Image" class="card-img" alt="#">*@
                @*<div class="card-img-top" style="background-image: url('@eventDetail.Image');"></div>*@

                <div class="card-footer">
                    <small class="text-muted">
                        <a asp-controller="EventDetails" asp-action="Edit" asp-route-id="@eventDetail.EventDetailId">Edit</a> |
                        <a asp-controller="EventDetails" asp-action="Details" asp-route-id="@eventDetail.EventDetailId">Details</a> |
                        <a asp-controller="EventDetails" asp-action="Delete" asp-route-id="@eventDetail.EventDetailId">Delete</a>
                    </small>
                </div>
            </div>
        </div>
    }
</div>

<hr />

<h3>Neues Kommentar erstellen</h3>

<div class="row">

    @using (Html.BeginForm("Add", "EventDetails", FormMethod.Post))
    {
        <div class="col-12">
            <div class="card h-100">
                <form asp-action="Add">
                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

                    @Html.HiddenFor(i => Model.NewEventDetail.EventId)

                    @*@Html.EditorFor(t => Model.NewEventDetail.Title)
                        @Html.EditorFor(t => Model.NewEventDetail.Text)*@

                    <div class="card-header">
                        <div class="form-group">
                            <label asp-for="@Model.NewEventDetail.Title" class="control-label"></label>
                            <input asp-for="@Model.NewEventDetail.Title" class="form-control" />
                            <span asp-validation-for="@Model.NewEventDetail.Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.NewEventDetail.Text" class="control-label"></label>
                            <input asp-for="@Model.NewEventDetail.Text" class="form-control" />
                            <span asp-validation-for="@Model.NewEventDetail.Text" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>


        </div>

    }
</div>
