@using MyInstitution.MVC.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web


<div class="card">
    <div class="card-header">
        @String.Format("{0:dd.MM.yyyy}", @_Event.DateBegin) @_Event.Name
    </div>
    @* <div class="card-img" style="background-image: url('@_Event.Image');"></div>*@
    <div class="card-body">
        @*                            <h5 class="card-title">Card title</h5>*@
        @* <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>*@
        <h4 class="card-title">
            @* @String.Format("{0:dd.MM.yyyy}", @_Event.DateBegin) @_Event.Name*@

        </h4>
        @* <h5 class="card-subtitle"> </h5>*@
        <div class="card-text">
            <p>
                @_Event.Summary
            </p>
        </div>
        <div class="card-text">
            <p>
                @*@Html.DisplayNameFor(e => _Event.DateBegin) @String.Format("{0:HH:mm}", @_Event.DateBegin)

                    @if (_Event.DateEnd != null)
                    {
                        <span>-</span> @Html.DisplayNameFor(e => _Event.DateEnd) @String.Format("{0:HH:mm}", @_Event.DateEnd)

                    }*@
            </p>
        </div>

    </div>
    <div class="card-footer">
        <small class="text-muted">
            <button type="button" class="btn btn-success">
                <span class="badge badge-light">4</span> Teilnehmer
            </button>

        </small>
        <span style="display:inline-block;">Teilnehmen</span>

        <div class="custom-control custom-switch" style="display:inline-block;">

            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">

            </label>
        </div>
        <span style="display:inline-block;">Austragen</span>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" @onclick="(e => AcceptEvent())" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <a asp-controller="Events" asp-action="Details" asp-route-id="@_Event.Id">
            <input type="button" class="btn btn-primary" value="Details" />
        </a>

        <button class="btn btn-primary" @onclick="(e => SetFilter())">
            <i class="material-icons">edit</i>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public Event _Event { get; set; }

    void AcceptEvent()
    {
        var x = 1;
    }

    void SetFilter()
    {
        _Event.Summary += "#_";
    }

}