@model IEnumerable<MyInstitution.MVC.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupLeaderEmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupLeaderEmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="card-columns">

    @foreach (var group in Model)
    {
    <div class="card">
        <div class="card-header">
            @group.Id
            @group.Name
        </div>
        <div class="card-img" style="background-image: url('@group.Image');"></div>
        <div clsss="card-body">
            <div class="card-title">

            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@group.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@group.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@group.Id">Delete</a>
        </div>
    </div>
    }
</div>
